<%- include('header') -%>

  <div class='background'>
    <div class='container'>
      <div class='day'>
        <h1> <%= listTitle %> </h1>
      </div>

      <div class='list'>
        <ul>
          <% for (var i=0; i < newListItem.length; i++) { %>
          <li><input class='checkbox' type="checkbox"><label class='strike'><%= newListItem[i] %></label></li>
          <% } %>
        </ul>

        <form action="/" method="post">
          <input class='newTask' type="text" name="newItem" placeholder="New Task" autocomplete="off">
          <button class="button" type="submit" name="list" value = <%= listTitle %>>+</button>
        </form>
      </div>
    </div>

  </div>

  <%- include('footer') -%>